{% extends "::base.html.twig" %}

{% block title %}AppBundle:Front:index{% endblock %}

{% block body %}
    <h1>Strona startowa</h1>
    <h2>Strona w budowie</h2>
    <button type="button">
        <a href="{{ path("register") }}">Zarejestruj</a>
    </button>
{% endblock %}
