<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tu bywam{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/test.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}
            <div id="caly_blok">
                <div id="naglowek">nagłówek strony</div>

                <div id="lewy">
                    <p>to jest lewa kolumna układu elementów HTML w tej części kursu CSS</p>
                </div>

                <div id="srodek">
                    <p>środkowa kolumna</p>
                </div>

                <div id="prawy">
                    <p>prawa kolumna układu elementów HTML</p>
                </div>

                <div id="stopka">stopka strony</div>
            </div>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}


    </body>
</html>
