{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tworzenie Lokalu</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Stwórz" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('place_index') }}">Wróć do listy lokali</a>
        </li>
    </ul>
{% endblock %}
