{% extends 'base.html.twig' %}

{% block body %}
<table class="tabela2">
    <thead>
    <tr>
        <th colspan="2">Czy na pewno chcesz usunąć wydarzenie: {{ event.name }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 50%; text-align: center"><button><a href="{{ path('event_index', { 'id': event.id }) }}">NIE</a></button></td>
        <td>{{ form_start(delete_form) }}
            <input type="submit" value="TAK" id="buttton">
            {{ form_end(delete_form) }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}