{% extends 'base.html.twig' %}

{% block body %}
    <h1>event usuwanie</h1>
    <ul>

        <li>
            <a href="{{ path('event_show', { 'id': event.id }) }}">NIE</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}